@import 'compass';
@import 'bootstrap_lib/_variables';

$color2: #777;
$color3: #6c99f8;


#index #page {

	@media  (max-width: $screen-sm-max) { //  max 991px
		background: #f0f0f0;
    }
}
	
#search_block_top .btn.button-search {
	background: $color3;
}

.shopping_cart > a:first-child {
	background: $color2;
}

#header .sf-menu {
	background: #fbfbfb;
	@include box-shadow( inset 2px 4px 21px rgba(0,0,0,0.2));
	@include box-sizing(border-box);
	border: 1px solid #a2a1a1;
}

#header .sf-menu > li > a {
	border-top: 5px solid #e2e2e2;
	color: #333;
}

#header .sf-menu > li.sfHover > a, #header .sf-menu > li > a:hover, #header .sf-menu > li.sfHoverForce > a {
	background: $color3;
	color: #fff;
}

#htmlcontent_top ul li a {
	background: #333;
}

#htmlcontent_top ul li a:hover {
	background: $color3;
}

#htmlcontent_top ul li .item-html b {
	border-color: $color3;
	background: $color3;
}

#home-page-tabs > li.active a, 
#home-page-tabs > li a:hover {
	background: $color3;
}

.price-percent-reduction,
.price.product-price {
	color: $color3;
}

.button.ajax_add_to_cart_button:before,
.button.ajax_add_to_cart_button:hover {
	background: #333;
}

.footer-container #footer #block_contact_infos > div ul li span a,
.footer-container #footer a:hover,
.footer-container #footer #social_block ul li a:before,
.footer-container #footer #social_block ul li a:hover,
.footer-container #footer #social_block ul li a:hover span,
#cmsinfo_block em,
#header .sf-menu li li li a:hover {
	color: $color3;
}

#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: $color3;
	color: #fff;
}

.button.ajax_add_to_cart_button:hover:before,
.button.ajax_add_to_cart_button,
#htmlcontent_home ul a .item-html b {
	background: $color3;
}

#htmlcontent_top ul li .item-html b:hover {
	border-color: #333;
}


#home-page-tabs > li a {
	background: #777;
}

#languages-block-top div.current.active,
#languages-block-top div.current:hover,
#currencies-block-top div.current:hover, 
#currencies-block-top div.current.active {
	color: #fff;
}

#currencies-block-top ul li.selected, 
#currencies-block-top ul li:hover a,
#currencies-block-top ul li:hover {
	background: $color3;
}

#languages-block-top ul li.selected, 
#languages-block-top ul li:hover a {
	background:  $color3;
}

.content_sortPagiBar .display li.selected i,
.content_sortPagiBar .display li.selected, 
.content_sortPagiBar .display_m li.selected i {
	color: $color3;
}