/* Top hook CSS */
#htmlcontent_top ul li {
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    #htmlcontent_top ul li {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 50%; } }
    @media (max-width: 767px) and (max-width: 479px) {
      #htmlcontent_top ul li {
        width: 100%;
        float: none; }
        #htmlcontent_top ul li img {
          width: 100%; } }
  #htmlcontent_top ul li:last-child {
    margin-bottom: 0; }
  #htmlcontent_top ul li a {
    display: block;
    background: #333; }
    #htmlcontent_top ul li a:hover {
      background: #d72a2a; }
    #htmlcontent_top ul li a:hover b {
      background: #333;
      border: 1px solid #333; }
    #htmlcontent_top ul li a h2 {
      color: white; }
    #htmlcontent_top ul li a span {
      color: white;
      line-height: 20px;
      display: block; }
  #htmlcontent_top ul li img {
    max-width: 100%;
    height: auto; }
    #htmlcontent_top ul li img .ie8 {
      max-width: inherit; }
    @media (min-width: 480px) and (max-width: 767px) {
      #htmlcontent_top ul li img {
        width: 100%; } }
  #htmlcontent_top ul li .item-html {
    margin-top: -76px;
    padding: 0 15px 20px 16px; }
    @media (max-width: 991px) {
      #htmlcontent_top ul li .item-html {
        margin-top: 15px; } }
    #htmlcontent_top ul li .item-html h2 {
      margin: 0 0 30px;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-size: 41px;
      line-height: 32px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #htmlcontent_top ul li .item-html h2 {
          font-size: 30px;
          line-height: 32px; } }
      @media (max-width: 991px) {
        #htmlcontent_top ul li .item-html h2 {
          margin-bottom: 15px;
          font-size: 23px;
          line-height: 25px; } }
      #htmlcontent_top ul li .item-html h2 span {
        margin-top: 6px;
        display: block;
        font-size: 29px; }
        @media (min-width: 992px) and (max-width: 1199px) {
          #htmlcontent_top ul li .item-html h2 span {
            font-size: 23px; } }
        @media (max-width: 991px) {
          #htmlcontent_top ul li .item-html h2 span {
            font-size: 16px; } }
    #htmlcontent_top ul li .item-html b {
      background: #d72a2a;
      font-size: 18px;
      display: inline-block;
      text-shadow: 1px 1px 1px #333;
      color: #fff;
      padding: 7px 6px 8px;
      text-transform: uppercase;
      font-weight: 900;
      margin-top: 15px;
      border: 1px solid #d72a2a; }

/* Home hook CSS */
#htmlcontent_home ul li {
  margin-bottom: 21px; }
  @media (max-width: 479px) {
    #htmlcontent_home ul li {
      width: 100%; } }
  #htmlcontent_home ul li img {
    max-width: 100%;
    height: auto; }
    #htmlcontent_home ul li img .ie8 {
      max-width: inherit; }
    @media (max-width: 479px) {
      #htmlcontent_home ul li img {
        min-width: 100%; } }
  @media (max-width: 479px) {
    #htmlcontent_home ul li.htmlcontent-item-5 {
      width: 100%; } }
#htmlcontent_home ul a {
  display: block;
  color: #fff;
  position: relative; }
  #htmlcontent_home ul a .item-html {
    top: 25px;
    position: absolute;
    left: 19px;
    padding-right: 25px; }
    @media (min-width: 480px) and (max-width: 767px) {
      #htmlcontent_home ul a .item-html {
        top: 10px; } }
    #htmlcontent_home ul a .item-html h2 {
      margin: 0 0 3px;
      font-weight: 900;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-size: 43px;
      line-height: 27px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #htmlcontent_home ul a .item-html h2 {
          font-size: 30px;
          margin-bottom: 10px; } }
      @media (max-width: 991px) {
        #htmlcontent_home ul a .item-html h2 {
          font-size: 22px;
          line-height: 22px; } }
      #htmlcontent_home ul a .item-html h2 span {
        margin-top: 7px;
        display: block;
        font-size: 29px; }
        @media (min-width: 992px) and (max-width: 1199px) {
          #htmlcontent_home ul a .item-html h2 span {
            font-size: 25px; } }
        @media (max-width: 991px) {
          #htmlcontent_home ul a .item-html h2 span {
            font-size: 19px;
            line-height: 20px;
            margin-top: 4px; } }
    #htmlcontent_home ul a .item-html span {
      font-size: 12px;
      display: block;
      line-height: 20px;
      font-weight: 300; }
      @media (max-width: 1199px) {
        #htmlcontent_home ul a .item-html span {
          display: none; } }
    #htmlcontent_home ul a .item-html b {
      background: #d72a2a;
      font-size: 18px;
      display: inline-block;
      text-shadow: 1px 1px 1px #333;
      color: #fff;
      padding: 8px 9px 9px;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 5px; }
      @media (max-width: 991px) {
        #htmlcontent_home ul a .item-html b {
          display: none; } }

/* Footer hook CSS */
@media (max-width: 767px) {
  #htmlcontent_footer {
    float: none; } }
#htmlcontent_footer > ul {
  margin: 0; }
  #htmlcontent_footer > ul:after, #htmlcontent_footer > ul:before {
    display: none;
    padding: 0; }
  #htmlcontent_footer > ul li {
    float: none;
    width: auto;
    padding: 0; }
    #htmlcontent_footer > ul li img {
      max-width: 100%;
      height: auto; }
      #htmlcontent_footer > ul li img .ie8 {
        max-width: inherit; }

/* Left hook CSS */
/* Right hook CSS */
