#search_block_top {
  padding-top: 55px; }
  @media (max-width: 767px) {
    #search_block_top {
      padding-top: 30px; } }
  #search_block_top #searchbox {
    float: left;
    width: 100%; }
  #search_block_top .btn.button-search {
    background: #d72a2a;
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    color: white;
    width: 64px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 15px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      background: #484848; }
  #search_block_top #search_query_top {
    display: inline;
    padding: 18px 75px 15px 21px;
    height: 50px;
    line-height: 20px;
    background: #fbfbfb;
    margin: 0;
    border: 1px solid #a2a1a1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    color: #979494;
    -moz-box-shadow: inset 2px 4px 21px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 2px 4px 21px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 4px 21px rgba(0, 0, 0, 0.2); }

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 15px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
