@import "compass";
@import "theme_variables";

/*#blocktopinfo>div {
	background: #333;
	overflow: hidden;


	@media (max-width: $screen-xs-max) { // max 767px	
		width: 270px;
	}
}
*/
.header_user_info {
	float: right;
	background: #333;
	text-align: center;

	a {
		color: $light-text-color;
		font-weight: bold;
		width: 51px;
		position: relative;
		padding-top: 17px;
		display: block;
		height: 50px;
		cursor: pointer;
		
		&:hover, &.active {
			background: #2b2b2b;
		}
		.icon-lock {
			font-size: 19px;
			line-height: 20px;
		}
	}

	a.logout {
		&:hover, &.active {
			background: #2b2b2b;

			@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
				&:before {
					display: none;
				}			
			}
		}
	}
}


.admin a {
	width: 219px;
	border-right: 1px solid #454545;
	text-align: left;
	padding-left: 18px;

	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		width: 242px;		
	}

	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		width: 168px;		
	}

	i {
		margin-right: 10px;
	}
}

.header_user_info {
	line-height: 19px;
	clear:left;
	text-transform: uppercase;
	font-size: 15px;
	float:right;
	font-weight: 900;

	div {
		
		height: 50px;
		overflow: hidden;

		a>i.icon-user:before {
			font-size: 19px;
			color: #d72a2a;
			line-height: 20px;
		}
		#your_account {
			float: left;
			width: 217px;

			a {
				color: #fff;
				display: block;
				padding: 14px 0 12px 18px;

				&:hover {
					color: #d72a2a;
				}
			}
		}
	}

	.blockuserinfo {
		line-height: 20px;
		float: right;
		font-size: 19px;

		a{
			padding: 14px 20px 16px 17px;
			border-left: 1px solid #454545;
			display: block;
			color: #fff;
		}
	}
}
